day5/Simple AI Agent workflow.json
{
  "name": "Simple AI Agent workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "653b76c8-95eb-4040-b9df-89093e2a6f22",
      "name": "When chat message received",
      "webhookId": "d4249e9f-936b-4732-a763-1b963f1e1a03"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Understand what a user requests from  {{ $json.chatInput }} and use HTTP_Request1 to get the weather information. The endpoint of HTTP_Request1 is already set Brooklyn.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "ddf42d03-1664-41b3-803b-b17c78e1c59e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "e09f441c-893d-48d3-bbb4-dd2a7f3ed312",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CPTRn5I3M0jF7Yvi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        720,
        272
      ],
      "id": "862770b3-fb22-41a5-ac76-0955a3d896c0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=40.6501&longitude=-73.9496&daily=temperature_2m_max,temperature_2m_min&hourly=temperature_2m,relative_humidity_2m&current=temperature_2m,relative_humidity_2m",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        336,
        256
      ],
      "id": "d6c05fdd-b2ef-48d7-9950-c8bf7390eb96",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#weather",
          "mode": "name"
        },
        "text": "=From the weather bot\n{{ $('AI Agent').item.json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        960,
        16
      ],
      "id": "5dd34c0f-483b-4ada-9113-9392f32b558f",
      "name": "Send a message",
      "webhookId": "dc1ad6ea-5d92-4330-8074-95acb952c498",
      "credentials": {
        "slackApi": {
          "id": "ywCESkexPc5wxuJb",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze the output and extract the information that a user requests the format it to make the output readable for a human",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        560,
        0
      ],
      "id": "68d05833-20e2-4f50-b6d2-3926a00fe3a1",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        288
      ],
      "id": "f85d10c5-f1ae-4c2a-9f30-83ed0bf70671",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "CPTRn5I3M0jF7Yvi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e72a0514-3236-4919-9860-10daa673350a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e73fbfe4c69451a54f9cdd5608e8f0267767457d391052a044578d270715ba18"
  },
  "id": "ZM62l2Oq3DTGkTbg",
  "tags": [
    {
      "updatedAt": "2025-11-08T23:32:00.921Z",
      "createdAt": "2025-11-08T23:32:00.921Z",
      "id": "ub1GbmYHs3PZFCk6",
      "name": "gemini"
    }
  ]
}